<div class="row">
  <h4>Edit category : <%= category.name%></h4>

  <form action="/category/update/<%= category.id %>" class="admin-form-edit" method="POST" >

    <div class="row">
      <div class="large-12">
        <div class="row">
          <div class="large-1 columns"></div>
          <div class="large-11 columns">
            <%- partial('../partials/alert_error') %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12">
        <div class="row">
          <div class="large-1 columns">
            <label for="right-label-inline" class="right inline">Name:</label>
          </div>
          <div class="large-11 columns">
            <input type="text" id="right-label" name="name" value="<%= category.name%>">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12">
        <div class="row">
          <div class="large-1 columns">
            <label for="right-label-inline" class="right inline">Brands:</label>
          </div>
          <div class="large-11 columns">
            <% for(var i = 0;i<brand.length; i++) {%>
              <div data-alert class="alert-box secondary">
                <%= brand[i].name%>
                <a href="#" class="close">&times;</a>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12">
        <div class="row">
          <div class="large-1 columns"></div>
          <div class="large-11 columns">
            <input type="submit" class="button" value="Submit"/>
          </div>
        </div>
      </div>
    </div>
    <input id="csrf" type="hidden" name="_csrf" value="<%= _csrf %>" />
    
  </form>
</div>